---
---
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');
@import "portfolYOU";

.landing {
  padding-bottom: 0 !important;
}

.landing-name {
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  margin-top: 0.25rem;
}
